[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4;SET AUTOCOMMIT=0'
skip-character-set-client-handshake
lower_case_table_names=1
sql_mode=NO_ENGINE_SUBSTITUTION
#log-slow-queries=/tmp/slow.log
#long-query-time=30
#log-queries-not-using-indexes
#log-slow-admin-statements
#log=/tmp/query.log
max_allowed_packet=32MB
explicit_defaults_for_timestamp=1
